*{
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow-x: hidden;
}

ul{
	list-style: none;
}

/* Index.html*/
.nav-bar{
    width: 100%;
    display: flex;
    background-color: #FFF;
    padding: 2em 0 1em 14.5vw;
    
}
#logo-position{
    margin-right: 45vw;
}

#profile-section{
    display: flex;
}
.lower-nav-bar{
    display: flex;
    background-color: #003C77;
    gap: 3em;
    justify-content: center;
}
.lower-nav-bar a{
    color: #FFF;
    font-weight: 400;
    margin: 1em;
    text-decoration: none;
    cursor: pointer;
}

.more-options-ext{
    position: relative;
    display: inline-block;
    color: #FFF;
    cursor: default;
}
.more-options{
    display: none;
    position: absolute;
    background-color: rgba(0, 60, 119,0.5);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.more-options-ext:hover .more-options{
    display: block;
} 
.more-options a{
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    width: 100%;
}
.hero{
    display: flex;
    width: 100%;
    padding: 0 1em;
    justify-content: center;
    position: relative;
}

.hero img{
    filter: brightness(60%);
}

.hero-txt{
    position: absolute;
    left: 16vw;
    bottom: 0px;
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
}
.footer-ext{
    background-color: #000;
    display: flex;
    padding: 2em 1em;
    justify-content: center;
}

.links a{
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}
.links{
    display: flex;
    flex-direction: row;
    color: #FFF;
    gap: 40px;
    text-align: center;
}

#school-map{
    display: flex;
    justify-content: center;
    
}
/* Log In. html*/
#login-submit{
    font-size: 15px;
    padding: 10px 15px;
    background-color: #003C77;
    color: #FFF;
    border: none;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#log-in-container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

#welcome{
    display: inline-flex;
    width: 40%;
    justify-content: center;
}

#log-in-form{
    display: inline-flex;
    width: 40%;
}
#form{
    width: 100%;
}

#form h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.form-group{
    margin: 10px 0;
}
input[type=email], input[type=password], input[type=text]{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    transition: 0.5s;
    
}

input:focus{
    border: 1px solid #003C77;
}
.NP-logo{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
