*{
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow-x: hidden;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Index.html*/
.nav-bar{
    width: 100%;
    display: flex;
    background-color: #FFF;
    padding: 2em 0 1em 13.5vw;
    align-items: center;
    gap: 2vw;
}
#logo-position{
    margin-right: 43vw;
}
.student-total-points {
    display: flex;
    align-items: center;
}
#total-points, #name-of-student1 {
    font: 500 18px "Poppins", sans-serif;
}

#profile-section{
    display: flex;
    align-items: center;
}
#profile-section p{
    margin-top: 1em;
}

.lower-nav-bar{
    display: flex;
    background-color: #003C77;
    gap: 3em;
    justify-content: space-around;
    align-items: center;
}
.lower-nav-bar a{
    color: #FFF;
    font-weight: 400;
    margin: 1em;
    text-decoration: none;
    cursor: pointer;
}

.more-options-ext{
    position: relative;
    display: inline-block;
    color: #FFF;
    cursor: default; 
}

.more-options{
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.school-options, .link-options{
    display: none;
    position: absolute;
    background-color: rgba(0,60,119,0.5);
    min-width: 101vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 21px;
    justify-content: space-around;
    align-items: center;
}
.more-options-ext:hover .more-options{
    display: block;
} 
.more-options-ext:hover .school-options,.more-options-ext:hover .link-options{
    display: flex;
}
.more-options a {
    color: #003C77;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    width: 100%;
}
.school-options a,.link-options a{
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    margin: 0;
}
.hero{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.hero img{
    width: 90%;
}

.hero-txt{
    position: absolute;
    left: 10vw;
    bottom: 20px;
}
.hero .hero-txt h2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #FFF;
    font-weight: 600;
}
.footer-ext{
    background-color: #000;
    padding: 2em 10vw;
    color: #FFF; 
    max-width: 100%;
}
.footer-ext h5 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
}
.footer-int {
    padding-left: 13px;
}
#socials{
    display: flex;
	flex-direction: row;
    gap: 18px;
    border-bottom: 1px solid #929292;
}
#socials a img{
    height: 30px;
}
.links a{
    color: #FFF;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.links{
    display: flex;
    flex-direction: row;
    color: #FFF;
    gap: 40px;
    text-align: center;
    padding: 1em 0;
}

.home-container {
    padding-left: 10vw;
    padding-top: 2em;
    padding-bottom: 2em;
}
.map-des {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.weatherAtNP {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5em 0;
}
.school-map {
    position: relative;
}

/* Log In. html*/
#login-submit, #sign-up-submit{
    font-size: 15px;
    padding: 10px 15px;
    background-color: #003C77;
    color: #FFF;
    border: none;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.1);
}
#login-submit:hover, #sign-up-submit:hover {
    background-color: #00284f;
}

.log-in-bg, .sign-up-bg {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(50%);
}
#log-in-container, #sign-up-container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    background-color: #FFF;
    border: 1px solid #FFF;
    box-shadow: rgba(0,0,0,0.5);
    opacity: 0.95;
}

#welcome{
    display: inline-flex;
    width: 40%;
    justify-content: center;
}

#log-in-form, #sign-up-form{
    display: inline-flex;
    width: 40%;
}
.security {
    padding-top: 1rem;
}

#form{
    width: 100%;
}
.form-floating, .form-group, #login-submit{
    margin-bottom: 10px;
}
#form h1{
    font-size: 30px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-align: center;
}


input[type=email], input[type=password], input[type=text]{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    transition: 0.5s;
    
}

input:focus{
    border: 1px solid #003C77;
}
.NP-logo{
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

/* Redemption.html */
.fade {
	animation: fade;
	animation-duration: 1000ms;
	justify-content: center;
	padding: 0 1em;
    min-height: 50vh;
}
.fade:not(.show) {
    opacity: 1;
}
@keyframes fade{
	from {opacity: 0.4;}
	to {opacity: 1;}	
}

.shirt-container{
    width: 90%;
    display: flex;
    justify-content: center;
}
.shop-ext{
    width: 90%;
    display: flex;
    justify-content: center;
}
.shop_des{
	display: flex;
    color: #000;
    flex-direction: row;
}

.shop_details{
	font-weight: 500;
}

#product-light{
    text-align: center;
}

.nav_bullet {
	cursor: pointer;
	height: 10px;
	width: 40px;
	margin: 1em 2px;
	background-color: #939393;
	border-radius: 40px;
	display: inline-block;
	transition: background-color 0.5s ease-in-out; /*so that it doesnt abrupty change*/
	/* background color property is to transition smoothly over 0.6s with an ease in and out function*/
  }

.nav_bullet:hover {
	background-color: #2D85F3;
}

.shows{
	background-color: #2D85F3;
	width: 100px;
}
.shop_imgs{
	position: relative;
	width: 100%;
    display: flex;
    justify-content: center;
}
/*left and right buttons*/
.left, .right{
	cursor: pointer;
	top:50%;
	font-size: 50px;
	font-weight: 700;
	width: auto;
	position: absolute;
	padding: 16px;
	margin-top: -75px;
	transition: all 0.5s ease-in-out; /*arrow keys will have ease in out transition spanning 0.5s*/
	user-select: none;
	border-radius: 10px;
	opacity: 0.5;
}

.left:hover, .right:hover{
	background-color: #939393;
}

.separator{
	right: 0;
}

.nav_bullet_section{
    text-align:center
}


.hero_txt { /* look at other pages first*/
	display: flex;
	top: 40%;
	width: 100%;
	flex-direction: column;
	position: absolute;
	text-align: center;
}
.hero_txt h1{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.hero_txt p{
	font-weight: 500;
	font-size: 22px;
	color: #FFFFFF;
}

#product-nav-padding {
	padding: 21px 0px;
}

#product-types {
	display: flex;
	justify-content: center;
	gap: 80px;
	font-size: 24px;
	font-weight: 500;
}
#product-types a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}
.item-layout{
    margin-bottom: 20px;
}
.item-layout a{
    text-decoration: none;
    color: #000;
}
.item-thumbnail{
    padding: 10px;
}

.card-text p{
    font: 400 16px "Poppins", sans-serif;
}
.redeem-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 1px solid #003C77;
    color: #003C77;
}
.redeem-btn:hover {
    background-color: #00284f;
    color: #FFF;
}

/* Quiz popup */
.guidelines-ext{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
}
.guidelines-ext.active {
    opacity: 1;
    pointer-events: auto;
}
.guidelines-int {
    background-color: #FFF;
    max-width: 100%;
    padding: 2em 4em;
    border-radius: 5px;
}
#practice-start{
    background-color: #003C77;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    padding: 10px 2vw;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#practice-start:hover {
    background-color: #00284f;
}
.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.guideline-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.begin-btn {
    border: 1px solid #008000;
    color: #008000;
    background: transparent;
}

.begin-btn:hover {
    background-color: #008000;
    color: #FFF;
}

#exit-btn {
    border: 1px solid #ff0000;
    color: #ff0000;
    background: transparent;
}

#exit-btn:hover {
    background-color: #ff0000;
    color: #FFF;
}

.modal-content {
    padding: 2em 4em;
    box-shadow: rgba(0,0,0,0.2);
}
/* quiz.html */
.lottie-bg {
    /* display: none; */
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-int {
    max-width: 100%;
    padding: 2em 4em;
}

.question {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1em;
}

.panel .panel-int #btn, .panel .panel-int #back-btn {
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.panel .panel-int #back-btn:hover {
    background-color: #000;
    color: #FFF;
}
.panel .panel-int #btn:hover {
    background-color: #FFF;
    color: #000;
}

.product-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10vh 0;
}
.product-picture {
    margin-right: 100px;
    flex-basis: 30%;
}
.product-info {
    flex-basis: 30%;
}

.size-select {
    margin: 20px 0;
}
.product-btn {
    background-color: #003C77;
    color: #FFF;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(1, 9, 114, 0.2);
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px 0;
}
.product-btn:hover {
    background-color: #00284f;
}
.product-details {
    padding-top: 10px;
}